if theme.comment.duoshuo
  .ds-thread(data-thread-key=page.path, data-title=page.title, data-url=page.permalink, data-author-key='1')

if theme.comment.disqus
  #disqus_thread

if theme.comment.gitment && theme.comment.gitment.owner && theme.comment.gitment.repo && theme.comment.gitment.client_id && theme.comment.gitment.client_secret
  #container
  link(rel='stylesheet', href='https://imsun.github.io/gitment/style/default.css')
  script(src='https://imsun.github.io/gitment/dist/gitment.browser.js')
  script.
    var gitment = new Gitment({
      owner: '#{theme.comment.gitment.owner}',
      repo: '#{theme.comment.gitment.repo}',
      oauth: {
        client_id: '#{theme.comment.gitment.client_id}',
        client_secret: '#{theme.comment.gitment.client_secret}',
      },
    })
    gitment.render('container')

if theme.comment.livere
  #lv-container(data-id="city",data-uid=theme.comment.livere)

if theme.comment.uyan
  #uyan_frame

if theme.comment.cloudTie
  #cloud-tie-wrapper.cloud-tie-wrapper

if theme.comment.changyan.appid && theme.comment.changyan.appkey
  #SOHUCS(sid=page.path)
